{% extends 'base.html' %}
{% block title %}Writings{% endblock %}

{% block content %}
  {% if user.is_librarian %}
      <a href="{% url 'writing_create' %}">Create Writing</a>
  {% endif %}
  <ul>
    {% for writing in writings %}
      <li>{{ writing }}</li>
      {% if user.is_librarian %}
        <a href="{% url 'writing_edit' writing.pk %}">Edit</a>
      {% endif %}
    {% endfor %}
  </ul>
<p>{{ total_writings }}</p>

  {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
    {% endif %}

    <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
    {% endif %}
{% endblock %}
